@{
    ViewBag.Title = "About";
}
<style>
    body {
        overflow: hidden;
        padding: 0px;
        margin: 0px;
    }
    #modal{
        height:100vh;
        width:100vw;
        overflow-y:hidden;
        background:rgba(0,0,0,.5);
        padding:2%;
        display:grid;
        place-content:center;
        transform:translateY(-250px);
        
    }
    .registration{
        background:white;
        padding:10px;
        border:2px solid grey;
        border-radius:5px;
        width:50vw;
    }
    #closeModal{
        font-size:22px;
        color:white;
        position:relative;
        height:40px;
        text-align:center;
        border-radius:2px;
        width:40px;
        right:-85%;
        top:-15px;
        padding:5px;
        cursor:pointer
    }
</style>

<div class="bg-light" id="adddata">
    <div class="row justify-content-center">
        <h2 class="col-10 mb-2 d-flex justify-content-evenly">
            <b>Record Of Registered User</b><b><a href="/Home/index" class="btn btn-secondary">Add New Record</a></b>
        </h2>
        <div class="col-10 bg-white">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sr.</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Mobile</th>
                        <th>College</th>
                        <th>Course</th>
                        <th>District</th>
                        <th>Pincode</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="modal">
    <div class="bg-light registration">
        <div class="row justify-content-center p-4">
                <b id="closeModal" class="bg-danger">X</b>
            <div class="col-10 w-75 col-md-6 border border-1 rounded rounded-3 bg-white p-2 my-3">
                <input type="hidden" class="form-control" id="regid" />
                <label for="name">Name</label><input type="text" class="form-control" id="name" />
                <label for="email">Email</label><input type="email" class="form-control" id="email" />
                <label for="mobile">Mobile</label><input type="number" class="form-control" id="mobile" />
                <label for="college">College</label>
                <select class="form-control" id="college">

                    <option>--Select college--</option>
                    <option>FGIET Raebareli</option>
                    <option>MMIT Maharajganj</option>
                    <option>IET Lucknow</option>
                    <option>BBD Lucknow</option>
                    <option>Other</option>
                </select>
                <label for="course">Course</label><select class="form-control" id="course">

                    <option>--Select course--</option>
                    <option>M.Tech</option>
                    <option>B.Tech</option>
                    <option>MCA</option>
                    <option>BCA</option>
                    <option>Diploma</option>
                    <option>Other</option>

                </select>
                <label for="district">District</label><select class="form-control" id="district">

                    <option>--Select District--</option>
                    <option>Gorakhpur</option>
                    <option>Maharajganj</option>
                    <option>Raebareli</option>
                    <option>Lucknow</option>
                    <option>Other</option>
                </select>
                <label for="pincode">Pincode</label><input type="number" class="form-control" id="pincode" />
                <button class="w-100 btn btn-outline-danger mt-3" id="updatebtn">Update Data</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script>
    $(document).ready(function () {
        $("#modal").hide();
        $.ajax({
            type: 'GET',
            url: '/Home/ShowData',
            success: function (data) {
                let i = 1;
                for (let d of data) {
                    $("#tbody").append(`
                    <tr>
                         <td>${i}</td>
                         <td>${d.name}</td>
                         <td>${d.email}</td>
                         <td>${d.mobile}</td>
                         <td>${d.college}</td>
                         <td>${d.course}</td>
                         <td>${d.district}</td>
                         <td>${d.pincode}</td>
    <td>
    <button onclick="deletedata(${d.regid})" class="btn btn-danger">delete</button>
    <button onclick="editdata(${d.regid})" class="btn btn-success">edit</button>
    </td>
</tr>
                    `);
                    i++;
                }
            },
            error: function () {
                alert("some error occurred");
            }
        });
    });

    function deletedata(x) {
        $.ajax({
            type: 'GET',
            url: '/Home/DeleteOneData',
            data: { 'regid': x },
            success: function () {
                alert("data deleted successfully");
                location.href = '/Home/About';
            },
            error: function () {
                alert("error!!!");
            }
        });
    }
    function editdata(x) {
        $("#modal").show();
        $("#adddata").show();
        $.ajax({
            type: 'GET',
            url: '/Home/SelectOneData',
            data: { 'regid': x },
            success: function (data) {
                for (let d of data) {
                    $("#regid").val(d.regid);
                    $("#name").val(d.name);
                    $("#email").val(d.email);
                    $("#mobile").val(d.mobile);
                    $("#college").val(d.college);
                    $("#course").val(d.course);
                    $("#district").val(d.district);
                    $("#pincode").val(d.pincode);
                }
            },
            error: function () {
                alert("error!!!");
            }
        });
    }

    $("#updatebtn").click(function(){
        let regid = $("#regid").val();
        let name = $("#name").val();
        let email = $("#email").val();
        let mobile = $("#mobile").val();
        let college = $("#college").val();
        let course = $("#course").val();
        let district = $("#district").val();
        let pincode = $("#pincode").val();
        $.ajax({
            type: 'POST',
            url: '/Home/UpdateDetails',
            data: { 'regid': regid, 'name': name, 'email': email, 'mobile': mobile, 'college': college, 'course': course, 'district': district, 'pincode': pincode },
            success: function () {
                alert("successfully updated");
                location.href = "/Home/About";
            },
            error: function () {
                alert("error occurred");
            }
        });
    });

    $("#closeModal").click(function () {
        $("#modal").hide();
    });
</script>